<h3>Park</h3>

<table class="table">
    <thead>
        <tr>
            <th>Park Code</th>
            <th>Full Name</th>
            <th>Latitude</th>
            <th>Longitude</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>        
    </tbody>
</table>

@code {
    private Park? park;
}
